.title { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75em;
    gap: 0.5em;
    position: sticky;
}
.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}